//- style.pug (not CSS, just includes)
//- bundle css' when distributing the app to production
link(rel="stylesheet", href="/css/partials/modals.css")
link(rel="stylesheet", href="/css/partials/forms.css")
link(rel="stylesheet", href="/css/partials/popovers.css")
link(rel="stylesheet", href="/css/partials/buttons.css")
link(rel="stylesheet", href="/components/user-settings/settings.css")

link(rel="stylesheet", href="/css/index.css")

