doctype html
html(lang="pt-BR")
  head
    title Página de Login - Projetos IOT
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/auth-pages.css")
  body
    // Barra de navegação
    header.navbar
      .logo
        a.logo-text(href="/") Projetos IOT
    
    // Container do formulário de login
    .container
      .card
        .card-body
          h2.card-title Login
          // Exibe mensagem de erro se houver
          if error
            .alert.alert-danger= error
          form(action="/users/login" method="POST")
            .mb-3
              label.form-label(for="username") Usuário
              input#username.form-control(type="text" name="username" placeholder="Digite seu usuário" required)
            .mb-3
              label.form-label(for="password") Senha
              input#password.form-control(type="password" name="password" placeholder="Digite sua senha" required)
            button.btn.btn-primary.w-100(type="submit") Entrar
            p
              | Não possui uma conta? 
              a(href="/users/register") Registre-se