// Uses bootstrap for styling, must chang                option(value="1") Cadastro de Animais
                option(value="2") Envio de Arquivos
            button.btn.btn-primary.w-100(type="submit") Criar conta
            p
              | Já possui uma conta? 
              a(href="/users") Faça logint to use custom css

doctype html
html
  head
    title Registrar - Projetos IOT
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/auth-pages.css")
  body
    // Barra de navegação
    header.navbar
      .logo
        a.logo-text(href="/") Projetos IOT
        nav.nav-right
          if user
            span.text-white.me-3 Olá, #{user.username}
            a.logout-button.text-white.ms-2(href="/users/logout") Logout
          else
            a.login-button.text-white(href="/users") Login


    // Container para o formulário de registro
    .container
      .card
        .card-body
          h2.card-title Registrar
          // Mensagem de erro se houver
          if error
            .alert.alert-danger= error
          form(action="/users/register" method="POST")
            .mb-3
              label.form-label(for="username") Usuário
              input#username.form-control(type="text" name="username" placeholder="Digite seu usuário" required)
            .mb-3
              label.form-label(for="password") Senha
              input#password.form-control(type="password" name="password" placeholder="Digite sua senha" required)
            .mb-3
              label.form-label(for="project") Projeto
              select#project.form-select(name="project" required)
                option(value="" selected disabled) Selecione um projeto
                option(value="1") Projeto 1
                option(value="2") Projeto 2
            button.btn.btn-primary.w-100(type="submit") Criar conta
