doctype html
html(lang="pt-BR")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Projetos IOT - Envios de arquivos via MQTT
    link(rel="stylesheet", href="/css/sendfiles.css")
    include ./partials/styles.pug
    script(src="/components/user-settings/settings.js")
  body
    // Container para o formulário de envio de arquivos
    .container
      header.header
        a(href="/")
          h1.title Projetos IOT
        nav.nav-right
          if user
            button.profile-button(type="button")
              img.profile-photo(
                src=user.avatarUrl || '/img/default-avatar.png'
                alt=`${user.username}`
              )
              span.username #{user.username}
        h2.subtitle Envios de arquivos via MQTT
      // Exibe mensagem de erro se houver
      main
        form.upload-form(action="/send-files/upload" method="post" enctype="multipart/form-data")
          .upload-card
            label(for="file") Escolha o arquivo
            input#file(type="file", name="file1")
          if error
            .alert.alert-danger.text-center.mb-3 #{error}
          .send-button
            button(type="submit") Enviar Arquivo
      footer.footer
        p © 2025 Projetos IOT

    // Incluir o card de configurações do usuário
    if user
      include ../components/user-settings/settings.pug